.vehicle-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.vehicle-icon {
  width: 400px;
  margin: 0 20px;
  transition: transform 0.3s;
  border-radius: 20px;
}

.vehicle-icon:hover {
  transform: scale(1.05); /* Enlarge on hover */
}

.quote-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.quote {
  display: flex;
  font-style: italic;
  font-size: 14pt;
  margin: 20px;
  padding: 40px; /* Add padding to create space around the quote */
  max-width: 600px; /* Set maximum width to control text wrapping */
  background-color: #465c8a; /* Background color for the quote box */
  border-radius: 20px; /* Rounded corners for the quote box */
  text-align: center; /* Center-align the text */
  color: rgb(232, 232, 232);
}

.features {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 50px;
  padding-right: 15%;
  padding-left: 15%;
}

.features-title {
  text-align: center;
  color: white;
  font-size: 30pt;
  margin: 50px;
  font-weight: bold;
  align-self: center;
}

.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 100px;
}

.feature-image {
  width: 40%;
  border-radius: 20px;
}

.feature-title {
  color: white;
  font-size: 26pt;
}

.feature-text {
  color: white;
  font-size: 14pt;
}

.feature-button {
  background-color: #465c8a;
  color: white;
  border-radius: 10px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
}

.feature-link {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282e3a;
  z-index: 10000;
}

.chord path {
  fill-opacity: 0.67;
  stroke: #fff;
  stroke-width: 0.5px;
}
.chord-container {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 0 auto; 
  text-align: center;
  color: white;
}

body {
  margin-top: 300px;
}
