#book {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 900px;
  padding: 40px;
  margin-top: 90px;
}

.page {
  flex: 1;
  border-radius: 10px;
  margin: 0 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page:first-of-type {
  background-color: #fff;
}

.page:nth-of-type(2) {
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}

#map {
  height: calc(900px - 40px); /* Set the height of the map */
  margin: 20px; /* Add margin inside the page */
}

#prediction-box {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#coordinates {
  font-size: 18px; /* Font size for the coordinates and prediction */
  color: #fff;
}

.select-time-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select-time-container > input {
  align-self: center;
}

.header-container {
  padding: 10px;
  background-color: #465c8a;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.info-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.info-container > p {
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  color: #465c8a;
}

#prediction {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.prediction-low {
  color: #00773c;
  background-color: #8be6b8;
}

.prediction-high {
  color: #b72121;
  background-color: #fea2a2;
}
