.race-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
}

#bar-chart-race {
    width: 1450px;
}

.label-race-bold {
    font-weight: bold;
}

.label-down {
    font-size: 50px;
    font-weight: bold;
}

.icon {
    width: 50px;
    margin-right: 1em;
    filter: invert(1);
    transition: 0.15s;
}

.icon:hover {
    filter: invert(0.85);
    transform: scale(1.1);
}

.race_controls {
    display: flex;
    justify-content: center;
}

.race_navigation {
    display: flex;
    align-items: center;
}

.new_races {
    display: flex;
    align-items: center;
}

#resource {
    font-size: 12pt;
    font-weight: bold;
    transition: 0.2s;
}

#resource:hover {
    background-color: #d2d1d1;
}

.labelx {
    color:red;
}
#text-content {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            max-width: 60%;
            background-color: white;
            border-radius: 10px;
            padding: 15px;
            font-size: 22px;
            text-align: center;
            margin:auto;
}