#chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#myChart {
  width: 1200px;
  height: 700px;
}

#date-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  color: white;
}

.chart-svg-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
