#chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#myChart {
  width: 1200px;
  height: 700px;
}

#date-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  color: white;
}

.chart-svg-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  position: relative;
}

#ds-select {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#slider-container {
  transform: translateX(680%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(51px);
}

.slider-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: bold;
}

#slider-text-off {
  text-align: right;
  right: 10px;
}

#slider-text-on {
  text-align: left;
  left: 10px;
}

.columns {
  display: flex;
  align-items: center;
  gap: 300px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

textarea {
  min-width: 400px;
  min-height: 100px;
  border-radius: 20px;
  padding: 20px;
}