/* Apply styles directly to the body to reset margin and padding */
  
  /* Placeholder style for the plot */
  #chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50;
  }
  
  #myChart {
    width: 1200px;
    height: 700px;
  }
  
  #date-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
  }

  #ds-select {
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
  }
  
  #start-date,
  #end-date {
    padding: 10px;
    border-radius: 10px;
  }
  