<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/race.css">

    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<nav class="menu">
    <div class="menu">
        <ul class="menu-bar">
            <li class="toolbar-title">Ride Sharing Impact</li>
            <li class="toolbar-separator"></li>
            <li><a class="nav-link" href="../index.html"><img src="../assets/img/home.png" alt="Home" aria-hidden="true" class="menu-icon">Home</a></li>
            <li><a class="nav-link" href="heatmaps.html"><img src="../assets/img/heatmap.png" alt="Heat Maps" aria-hidden="true" class="menu-icon">HeatMaps</a></li>
            <li><a class="nav-link" href="timeseries.html"><img src="../assets/img/timeseries.png" alt="Time Series" aria-hidden="true" class="menu-icon">TimeSeries</a></li>
            <li><a class="nav-link" href="race.html"><img src="../assets/img/race.png" alt="Race" aria-hidden="true" class="menu-icon">Race</a></li>
            <li><a class="nav-link" href="predictions.html"><img src="../assets/img/predictions.png" alt="Predictions" aria-hidden="true" class="menu-icon">Predictions</a></li>
        </ul>
    </div>
</nav>
<hr style="height:2px;border-width:0;color:rgb(176, 176, 176);background-color:rgb(176, 176, 176)">
<body>
    <div class="map-container">
        <svg id="bar-chart-race"></svg>
    </div>
    <script src="race.js"></script>
</body>
</html>