<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/timeseries.css">

    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<nav class="menu">
    <div class="menu">
        <ul class="menu-bar">
            <li class="toolbar-title">Ride Sharing Impact</li>
            <li class="toolbar-separator"></li>
            <li><a class="nav-link" href="../index.html"><img src="../assets/img/home.png" alt="Home" aria-hidden="true" class="menu-icon">Home</a></li>
            <li><a class="nav-link" href="heatmaps.html"><img src="../assets/img/heatmap.png" alt="Heat Maps" aria-hidden="true" class="menu-icon">HeatMaps</a></li>
            <li><a class="nav-link" href="timeseries.html"><img src="../assets/img/timeseries.png" alt="Time Series" aria-hidden="true" class="menu-icon">TimeSeries</a></li>
            <li><a class="nav-link" href="race.html"><img src="../assets/img/race.png" alt="Race" aria-hidden="true" class="menu-icon">Race</a></li>
            <li><a class="nav-link" href="predictions.html"><img src="../assets/img/predictions.png" alt="Predictions" aria-hidden="true" class="menu-icon">Predictions</a></li>
        </ul>
    </div>
</nav>
<hr style="height:2px;border-width:0;color:rgb(176, 176, 176);background-color:rgb(176, 176, 176)">
<body>
    <div id="chart-container">
        <h2>Timeseries accidents - test</h2>
        <select id="ds-select">
          <option value="ds1">Dataset 1</option>
          <option value="ds2">Dataset 2</option>
          <option value="ds3">Dataset 3</option>
        </select>
        <svg id="myChart"></svg>
        <div id="date-selection">
          <div>
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" value="2019-01-01" />
          </div>
          <div>
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" value="2022-12-31" />
          </div>
        </div>
    </div>
    <script type="module" src="./time_series.js"></script>
</body>
</body>
</html>