<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/race.css" />

    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
  </head>


  <body>
    <div class="body-content">
      <div id="nav-placeholder"></div>

      <div class="race_controls">
        <div class="race_navigation">
            <img class="icon" id="start" src="../assets/img/playbutton.svg">
            <img class="icon" id="stop" src="../assets/img/pausebutton.svg">
            <img class="icon" id="reset" src="../assets/img/restartbutton.svg">
        </div>
        <div class="new_races">
            <label for="resource"></label>
            <select id="resource">
                <option id="taxi_race">Taxis</option>
                <option id="bike_race">Bikes</option>
                <option id="crashes_race">Accidents</option>
            </select>
        </div>
    </div>
      <div class="race-container">
          <svg id="bar-chart-race"></svg>
      </div>
      <div id="text-content">
           <p>
            It is interesting to notice the drastic shift in numbers of 
            rides when the pandemic hits on February 2020.
            Additionally, there was a brief period during the pandemic when 
            certain zones experienced a temporary surge in interest from citizens.
          </p>
      </div>
      <br>
      <div id="text-content">
        <p>
          Another notable observation is that the top two zones remained 
            consistently popular for both taxis and bikes throughout the entire period.
        </p>
      </div>

      <footer id="footer-placeholder"></footer>
    </div>

    <script>
      fetch('basic/nav.html')
        .then((response) => response.text())
        .then((html) => {
          document.getElementById('nav-placeholder').innerHTML = html;
        });
      fetch('basic/footer.html')
        .then((response) => response.text())
        .then((html) => {
          document.getElementById('footer-placeholder').innerHTML = html;
        });
    </script>

    <script type="module" src="race.js"></script>
  </body>
</html>
