<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/timeseries.css" />

    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/addons/p5.sound.min.js"></script>
  </head>

  <body>
    <div class="body-content">
      <div id="nav-placeholder"></div>

      <div id="chart-container">
        <select id="ds-select">
          <option value="accidents">Accidents</option>
          <option value="taxis">Taxis</option>
          <option value="bikes">Bikes</option>
        </select>

        <div class="chart-svg-container">
          <svg id="myChart"></svg>
        </div>

        <div id="date-selection">
          <div>
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" value="2019-01-01" />
          </div>
          <div>
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" value="2022-12-31" />
          </div>
        </div>
      </div>

      <footer id="footer-placeholder"></footer>
    </div>

    <script>
      fetch('basic/nav.html')
        .then((response) => response.text())
        .then((html) => {
          document.getElementById('nav-placeholder').innerHTML = html;
        });
      fetch('basic/footer.html')
        .then((response) => response.text())
        .then((html) => {
          document.getElementById('footer-placeholder').innerHTML = html;
        });
    </script>

    <script type="module" src="./timeseries.js"></script>
    <script src="./sketch.js"></script>
  </body>
</html>
