<div>
  <span class="footer-title">Our Team - OutOfTouch</span>
  <div class="photos-container">
    <div class="person-container">
      <span>Cristian Botocan</span>
      <img alt="Cristian Botocan" src="../../assets/img/cristi.jpeg"/>
    </div>
    <div class="person-container">
      <span>Rares Epure</span>
      <img alt="Rares Epure" src="../../assets/img/rares.jpeg"/>
    </div>
    <div class="person-container">
      <span>Bojan Lazarevski</span>
      <img alt="Bojan Lazarevski" src="../../assets/img/bojan.jpeg"/>
    </div>
  </div>
</div>
