<div>
  <span class="footer-title">Our Team - OutOfTouch</span>
  <div class="photos-container">
    <div class="person-container">
      <span>Cristian Botocan</span>
      <img alt="Cristian Botocan" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"/>
    </div>
    <div class="person-container">
      <span>Rares Epure</span>
      <img alt="Rares Epure" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"/>
    </div>
    <div class="person-container">
      <span>Bojan Lazarevski</span>
      <img alt="Bojan Lazarevski" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"/>
    </div>
  </div>
</div>
