<nav class="nav-menu">
  <div class="nav-title-container">
    <span class="nav-title">Ride Sharing Impact</span>

    <div class="nav-buttons-container">
      <ul>
        <li>
          <a class="nav-button" href="../../">Home</a>
        </li>

        <li>
          <a class="nav-button" href="../components/heatmap">HeatMap</a>
        </li>

        <li>
          <a class="nav-button" href="../components/timeseries"
            >TimeSeries</a
          >
        </li>

        <li>
          <a class="nav-button" href="../components/race">Race</a>
        </li>

        <li>
          <a class="nav-button" href="../components/predictions"
            >Predictions</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
