<nav class="nav-menu">
  <div class="nav-title-container">
    <span class="nav-title">Ride Sharing Impact</span>

    <div class="nav-buttons-container">
      <ul>
        <li>
          <a class="nav-button" href="../../index.html">Home</a>
        </li>

        <li>
          <a class="nav-button" href="../components/heatmap.html">HeatMap</a>
        </li>

        <li>
          <a class="nav-button" href="../components/timeseries.html"
            >TimeSeries</a
          >
        </li>

        <li>
          <a class="nav-button" href="../components/race.html">Race</a>
        </li>

        <li>
          <a class="nav-button" href="../components/predictions.html"
            >Predictions</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
